table {

    border-collapse: collapse;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}



.carre {

    width: 150px;
    height: 150px;

}


#Zonea1,
#Zonea2,
#Zonea3,
#Zoneb1,
#Zoneb2,
#Zoneb3,
#Zonec1,
#Zonec2,
#Zonec3 {

    border-right: solid 10px black;
    border-bottom: solid 10px black;
    border-left: solid 10px black;
    border-top: solid 10px black;
}

#rejouer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    display: block;

}

.bouton {

    margin-bottom: 20px;
    padding: 20px;
    font-size: 80px;
    background-color: #C3C2C2;
    border: none;
    border-radius: 50%;
}